.header{
    font-size: 2rem;
    font-weight: 600;
    color: blueviolet;
    text-align: center;
    margin-top: 10px;
}
.header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.header p {
    margin-top: 0px;
    color: cadetblue;
    font-size: 1.2em; ;
}